/auto-save-list
/elpa
/eshell
/cnfonts
/transient
/url
/eln-cache
/snippets
.cache

bookmarks
projects
multisession
newsticker
history
recentf
tree-sitter
custom.el
plugins/*
ido*
*.*~
*lsp-session*
*desktop*

projectile-bookmarks.eld
.org-id-locations
