/auto-save-list
/elpa
/eshell
/cnfonts
/transient
/url
/eln-cache
/snippets
.cache

bookmarks
projects
history
recentf
custom.el
ido*
*.*~
*lsp-session*
*desktop*

projectile-bookmarks.eld
.org-id-locations
